.chapter-padding {
  height:0.25em;
}
.censored {
  filter: blur(0.7em);
  color: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 1em black;
  transition: 0.15s;
}
.peeking {
  filter: inherit;
  color: inherit;
  background-color: inherit;
  text-shadow: 0 0 0.6em darkred;
  transition: filter 1s, color 0.5s, background-color 0.5s, text-shadow 0.5s 0.2s;
}
.uncensored {
  filter: inherit;
  color: inherit;
  background-color: inherit;
  text-shadow: inherit;
  transition: 0.2s;
}